<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main_styles.css' %}">

    <title>Document</title>
</head>
<body>

    <div class="main_container">

        <div class="container">

            <h1 id="question_num">Question {{ques_num}}</h1>

            <h3 id="question">{{next_question}}</h3>

            <form action="" method="post">

                {% csrf_token %}

                <input type="text" name="answer_box" id="answer_box">

                <input type="submit" value="Submit" onclick="check_if_finish()">

            </form>

        </div>

    </div>
    
</body>
</html>